<%= javascript_tag "MakeSpaceChannel('all')" %>

<div class="container container-space">
  <header>
    <h1>회고를 위한 공간</h1>
    <h4>
      회고를 공유할 공간은 팀 & 조직이 될 수도 있고, 프로젝트 이름이 될 수도 있습니다. <br>
      공간 안에는
    </h4>
  </header>

  <ul class="list-spaces" id="space-board">
    <%= render partial: 'space', collection: @spaces_mine %>
    <%= render partial: 'space', collection: @spaces_membered %>

    <li class="list-space-item create-space">
      <%= link_to new_space_path, remote: true do %>
        <div class="space-top">
          <h6>Create space</h6>
          <i class="material-icons">add</i>
        </div>
        <div class="space-body">
          <h1 class="title">새로운 공간</h1>
        </div>
      <% end %>
    </li>
  </ul>


</div>