<%= javascript_tag "MakeSpaceChannel('all')" %>

<div class="container container-space">
  <header class="header">
    <h1 class="headline">회고를 위한 공간</h1>
    <h4 class="sub-headline">회고를 진행할 공간을 생성하세요. 초대 받은 공간이 있다면 이곳에 표시됩니다.</h4>
  </header>

  <ul class="list-spaces" id="space-board">
    <%= render partial: 'space', collection: @spaces_mine %>
    <% @joined_spaces.each do |member| %>
      <%= render partial: 'space', locals: {space: member.space} %>
    <% end %>

    <li class="list-space-item">
      <%= link_to new_space_path, class: 'content create-space', remote: true do %>
        <h1 class="">새로운 공간</h1>
      <% end %>
    </li>
  </ul>
</div>
