<% if @spaces.size == 0 %>
  검색결과가 없습니다.
<% else %>
  <table>
    <% @spaces.each do |space| %>
      <tr>
        <td>공간 이름 : <%= link_to space.name, space_projects_path(space.id) %></td>
        <td>공간 설명 :<%= space.description %></td>
      </tr>
    <% end %>
  </table>
<% end %>