<!-- Menu -->
<section id="menu">

  <!-- Search -->
    <section>
      <form class="search" method="get" action="#">
        <input type="text" name="query" placeholder="Search" />
      </form>
    </section>

  <!-- Links -->
    <section>
      <ul class="links">
        <li><a href="/posts">Retrospect</a></li>
      </ul>
    </section>

  <!-- Actions -->
    <section>
      <ul class="actions vertical">
          <% if current_user.present? %>
            <li><a href="/users/sign_out" class="button big fit">LOG OUT</a></li>
          <% else %>
            <li><a href="/users/sign_in" class="button big fit">LOG IN</a></li>
          <% end %>

      </ul>
    </section>

</section>