<!-- Menu -->
<section id="menu">

  <!-- Search -->
  <section>
    <form class="search" method="get" action="#">
      <input type="text" name="query" placeholder="Search"/>
    </form>
  </section>

  <!-- Links -->
  <section>
    <ul class="links">
      <li><%= link_to 'Retrospect', posts_url %></li>
    </ul>
  </section>

  <!-- Actions -->
  <section>
    <ul class="actions vertical">
      <% if current_user.present? %>
          <li><%= link_to '로그아웃', destroy_user_session_url %></li>
      <% else %>
          <li><%= link_to '로그인', new_user_session_url %></li>
      <% end %>

    </ul>
  </section>

</section>