<!-- Sidebar -->
<section id="sidebar">

  <!-- Intro -->
  <section id="intro">
    <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
    <header>
      <h2>Minerva Retrospect</h2>
      <p>웹 기반 회고 도구 미네르바에 오신것을 환영합니다.</p>
    </header>
  </section>

  <!-- Mini Posts -->
  <section>
    <div class="mini-posts">

      <!-- Mini Post -->
      <article class="mini-post">
        <header>
          <h3><a href="#">Vitae sed condimentum</a></h3>
          <time class="published" datetime="2015-10-20">October 20, 2015</time>
          <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
        </header>
        <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
      </article>

    </div>
  </section>

  <!-- Posts List -->
  <section>
    <ul class="posts">
      <li>
        <article>
          <header>
            <h3><a href="#">Lorem ipsum fermentum ut nisl vitae</a></h3>
            <time class="published" datetime="2015-10-20">October 20, 2015</time>
          </header>
          <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
        </article>
      </li>
    </ul>
  </section>

  <%= render 'home/footer' %>

</section>