<h2>Edit</h2>
<%= render 'form', section: @section %>

<%#= link_to 'Back', space_project_spin_section_path(@space, @spin, @section) %>

<%= link_to 'Back', space_project_spin_path(@space, @project, @spin) %>
