안녕하세요.<br/>
본 메일은 비밀번호 변경을 위해 <%= t(:service_name) %>에서 발송하는 메일입니다.<br/> 본인이 요청한 메일이 아니라면 개인정보 보호를 위해 비밀번호를 재설정해주세요.<br/>
비밀번호를 다시 설정하려면 '비밀번호 변경' 링크를 클릭해주세요.
<p><%= link_to '비밀번호 변경', edit_password_url(@resource, reset_password_token: @token) %></p>
<br/>
감사합니다.
<br/>
<%= t(:service_name) %>팀.