<div class="modal fade" id="retrospect" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-small">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="retrospectTitle">팀 등록</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="material-icons" aria-hidden="true">close</i>
        </button>
      </div>
      <%= bootstrap_form_for [@space, @project], remote: true do |form| %>
        <div class="modal-body">
          <div class="form-group">
            <%= form.text_field :title, class: "form-control", autofocus: true, :required => true %>
          </div>

          <div class="form-group">
            <%= form.text_area :description, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.submit class: "btn btn-primary btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
