<%= javascript_tag "MakeRetrospectChannel(#{@space.id})" %>

<div class="container container-lg container-projects" data-space="<%= @space.id %>">
  <header class="header">
    <h1 class="headline">팀을 등록하세요</h1>
    <h4 class="sub-headline">하나의 공간에 여러 팀들이 회고를 진행할 수 있습니다.</h4>
  </header>

  <ul class="list-projects">
    <li class="list-item create-project">
      <%= link_to new_space_project_path, remote: true, class: 'content' do %>
        <i class="material-icons">add</i>
      <% end %>
    </li>

    <%= render partial: 'project', collection: @projects %>
  </ul>
</div>
