<%= javascript_tag "MakeRetrospectChannel(#{@space.id})" %>

<div class="container container-lg container-projects" data-space="<%= @space.id %>">

  <ul class="list-projects">
    <li class="list-item create-project">
      <% new_path = request.subdomain.blank? ? new_space_project_path : new_project_path %>
      <%= link_to new_path, remote: true, class: 'content' do %>
        <i class="material-icons">add</i>
      <% end %>
    </li>

    <%= render partial: 'project', collection: @projects %>
  </ul>
</div>
