<%= javascript_tag "MakeRetrospectChannel(#{@space.id})" %>

<div class="container-fluid container-projects" data-space="<%= @space.id %>">
  <%#= link_to '프로젝트 명이나 팀이름을 등록하세요', new_space_project_path, remote: true, class: 'btn btn-primary' %>
  <ul class="list-projects">
    <%= render partial: 'project', collection: @projects %>
  </ul>
</div>