<br>
<h1>
        <span class="badge badge-primary"><%= @retrospect.title %></span>
</h1>
<br>
<%= link_to 'NEW', new_retrospect_spin_path, remote: true, class: 'btn btn-block btn-secondary' %>
<br>

<div class="card-columns spin-card-columns">
    <%= render partial: 'spin', collection: @spins %>
</div>
