<%= javascript_tag "MakeSpinChannel(#{@project.id})" %>

<div class="container container-lg container-spins" data-retrospect=<%= @project.id %>>
  <ul class="list-spins">
    <%= render partial: 'spin', collection: @spins %>

    <li class="list-spin-item create-spin">
      <%= link_to new_space_project_spin_path, remote: true, class: 'spin' do %>
        <i class="material-icons">add</i>
      <% end %>
    </li>
  </ul>

</div>