<%= javascript_tag "MakeSpinChannel(#{@project.id})" %>

<div class="container container-lg container-spins" data-retrospect=<%= @project.id %>>
  <ul class="list-spins">
    <%= render partial: 'spin', collection: @spins %>
  </ul>

</div>