<%= javascript_tag "MakeBoardChannel(#{@spin.id})" %>

<%#= link_to '섹션만들기', new_space_project_spin_section_path(@space, @project, @spin) %>
<%#= link_to '글쓰기', new_space_project_spin_post_path(@space, @project, @spin), remote: true, class: 'btn btn-block btn btn-outline-secondary' %>

<div id="board" class="spin-board-wrap" data-spin=<%= @spin.id %>>
  <%= render partial: 'sections/section', locals: {spin: @spin, sections: @sections, current_user: current_user} %>
</div>
