<div class="container container-space">
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-15 px-0">
      <h1 class="display-4 font-italic">RETROSPIN은?</h1>
      <p class="lead my-1">Online Facilitator : 개인 혹은 팀의 회고가 가능하도록 도와드립니다.</p>
      <p class="lead my-1">Retrospective Spin : 돌아보고 돌아보는 지속적 회고를 도와드립니다.</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Retrospective</strong>
          <h3 class="mb-0">회고</h3>
          <div class="mb-1 text-muted">다함께 돌아보고 기록하고 공유하고 개선하고 이어가는 활동입니다.</div>
          <lu>
            <li>함께하는 사람(팀원)들이 모두 참여하고 공유합니다.</li>
            <li>일을 나눠서 진행하는 기간의 단위를 선택하여 활동을 시도합니다.</li>
            <li>잘한점을 찾아 다음에도 이어갈 수 있도록 노력합니다.</li>
            <li>아쉬운점을 찾아 다른 방식으로 개선을 시도합니다.</li>
            <li>정확한 문제점을 밝혀내고 개선을 구체적인 실행 방안을 만들고자 노력합니다.</li>
            <li>앞으로 일에서 찾아내고 개선한점을 지속적이고 효과적으로 적용하고자 노력합니다.</li>
          </lu>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Agile</strong>
          <h3 class="mb-0">애자일</h3>
          <div class="mb-1 text-muted">애자일 소프트웨어 개발</div>
          <p class="mb-auto">소프트웨어 개발 방법에 있어서 아무런 계획이 없는 개발 방법과 계획이 지나치게 많은 개발 방법들 사이에서 타협점을 찾고자 하는 방법론입니다.
            과거의 방법론과는 다르게 앞을 예측하며 개발을 하지 않고, 일정한 주기를 가지고 끊임없이 프로토 타입을 만들어내며 그때 그때 필요한 요구를 더하고 수정하여 하나의 커다란 소프트웨어를 개발해 나가는 adaptive style 이라고 할 수 있습니다.</p>
          <a href="https://ko.wikipedia.org/wiki/%EC%95%A0%EC%9E%90%EC%9D%BC_%EC%86%8C%ED%94%84%ED%8A%B8%EC%9B%A8%EC%96%B4_%EA%B0%9C%EB%B0%9C" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Agile</strong>
          <h3 class="mb-0">애자일 선언</h3>
          <div class="mb-1 text-muted">애자일 소프트웨어 개발 선언</div>
          <p class="mb-auto">우리는 소프트웨어를 개발하고, 또 다른 사람의 개발을 도와주면서 소프트웨어 개발의 더 나은 방법들을 찾아가고 있다.
          이 작업을 통해 우리는 다음을 가치있게 여기게 되었다:
          <lu>
            <li>공정과 도구보다 개인과 상호작용을</li>
            <li>포괄적인 문서보다 작동하는 소프트웨어를</li>
            <li>계약 협상보다 고객과의 협력을</li>
            <li>계획을 따르기보다 변화에 대응하기를</li>
          </lu>
          가치있게 여긴다. 이 말은, 왼쪽에 있는 것들도 가치가 있지만, 우리는 오른쪽에 있는 것들에 더 높은 가치를 둔다는 것이다.
          </p>
          <a href="http://agilemanifesto.org/iso/ko/manifesto.html" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
  </div>
</div>