<header class="root-hero">
  <div class="container">
    <h1 class="hero-headline">애자일 팀에 사용하는 최고의 회고 도구</h1>
    <h4 class="hero-sub-headline">효과적인 프로젝트 회고를 설계하고 진행하세요</h4>
    <%= link_to '무료로 시작하기', new_user_registration_url, title: '무료로 시작하기', class: 'btn btn-primary btn-sign-up' %>
  </div>
  <div class="hero-image"></div>
</header>


