<div id="post-modal" class="modal fade">
  <div class="modal-dialog modal-small">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= bootstrap_form_for @post, remote: true do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <%= f.text_area :content, class: 'form-control input-lg', placeholder: '하고 싶은 말 적어보세요.' %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit class: 'btn btn-primary button big fit' %>
          </div>
      <% end %>
    </div>
  </div>
</div>