<br>
<h1>
        <span class="badge badge-primary"><%= @retrospect.title %></span>
        <span class="badge badge-primary"><%= @spin.title %></span>
        Posts
</h1>
<br>
<%= link_to 'NEW', new_retrospect_spin_post_path, remote: true, class: 'btn btn-block btn-secondary' %>
<br>
<div id="board">
  <%= render partial: 'post', collection: @posts %>
</div>