<div id="main">
  <h1>Posts</h1>

  <div id="board">
  <% @posts.each do |post| %>

  <%= render partial: "posts/post", locals: {post: post} %>

  <% end %>

  </div>


  <br>

  <%= link_to "New Post", new_post_modal_path, :remote => false, "data-toggle" => "modal", "data-target" => "#modal-window", :class => "button big fit" %>
  <%= render partial: "posts/modal_window" %>
</div>