<div id="main">
  <p>
    <strong>Description:</strong>
    <%= simple_format(@post.content) %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @post.user.email %>
  </p>

  <%= link_to 'Edit', edit_retrospect_spin_post_path(@post), class: 'button big fit' %> |
  <%= link_to 'Back', retrospect_spin_post_url, class: 'button big fit' %>
</div>