<h1>Retrospects</h1>

<%= link_to 'NEW', new_retrospect_path, remote: true, class: 'btn btn-block btn-secondary' %>

<br>

<li class="list-group">
  <ul><%= render partial: 'retrospect', collection: @retrospects %></ul>
</li>