<br>
<div class="card">
  <h4 class="card-header">
    Retrospect
    <%= link_to retrospects_path, class: 'btn btn-sm btn-outline-secondary float-right' do %>
      <i class="material-icons">arrow_back</i>
    <% end %>
  </h4>
  <div class="card-body">
    <h4 class="card-title"><%= @retrospect.title %></h4>
    <p class="card-text"><%= @retrospect.description %></p>
  </div>
</div>