@import "functions";

@mixin font-pen {font-family: nanumbarunpen, 'Noto Sans KR', malgun gothic, "돋움", Dotum, sans-serif;}
@mixin font-sans-serif {font-family: 'Noto Sans KR', malgun gothic, "돋움", Dotum, sans-serif;}
@mixin font-serif {font-family: 'Nanum Myeongjo', serif;}
@mixin font-mono {font-family: Hack, Menlo, Monaco, Consolas, "Courier New", monospace, "맑은 고딕", malgun gothic, "돋움", Dotum, Sans-Serif;}

@mixin h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}

@mixin h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
}

@mixin h3 {
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
}

@mixin h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

@mixin h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin h7 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

@mixin p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

@mixin transition($transition-duration:.2s, $transition-property:all, $transition-timing-function:ease-in-out, $transition-delay:initial) {
  transition-duration: $transition-duration;
  transition-property: $transition-property;
  transition-timing-function: $transition-timing-function;
  transition-delay: $transition-delay;
}

@mixin elevation-0 {
  @include transition();
  z-index: 1;
  box-shadow: rem-calc(0 0 0) rgba(20, 20, 84, 0);
}

@mixin elevation-1 {
  @include transition();
  z-index: 10;
  box-shadow: 0 rem-calc(3) 5px -1px rgba(50,50,100,.1);

}

@mixin elevation-2 {
  @include transition();
  z-index: 11;
  box-shadow:
          4px 4px 8px -2px rgba(50, 50, 100, 0.16),
          16px 16px 24px rgba(50, 50, 100, 0.08),
          24px 24px 56px rgba(50, 50, 100, 0.12);
}

@mixin elevation-3 {
  @include transition();
  z-index: 12;
  box-shadow:
          8px 8px 8px -8px rgba(50, 50, 100, 0.16),
          48px 16px 64px -16px rgba(50, 50, 100, 0.12),
          24px 56px 56px -8px rgba(50, 50, 100, 0.08),
          56px 56px 80px -32px rgba(50, 50, 100, 0.12),
          0 0 40px rgba(50, 50, 100, 0.04);
}

@mixin elevation-4 {
  @include transition();
  z-index: 13;
  box-shadow:
          8px 8px 8px -8px rgba(50, 50, 100, 0.16),
          80px 24px 80px -16px rgba(50, 50, 100, 0.12),
          24px 100px 56px -32px rgba(50, 50, 100, 0.08),
          160px 160px 190px -50px rgba(50, 50, 100, 0.16),
          0 0 40px rgba(50,50,100,0.04);
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin matrix-3d {
  @include transition();
  @include elevation-1;

  &:after,
  &:before {
    @include transition();
    content: '';
    display: block;
    position: absolute;
    height: rem-calc(40);
    bottom: rem-calc(-23);
    width: 100%;
    left: 0;
    opacity: 0;
    background-color: $blue-grey-100;
    transform: matrix3d(0.98, 0, 0, 0, 0, 0, 0.64, 0.001, 0, -0.64, 0.77, 0, 0, 0, 0, 1);
    -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0, 0.64, 0.001, 0, -0.64, 0.77, 0, 0, 0, 0, 1);
  }

  &:before {z-index: 1;}

  &:hover {
    @include elevation-4;
    z-index: 21;
    transform: matrix3d(1, 0, 0, 0, 0, 0.98, 0, -0.0002, 0, 0, 1, 0, 0, -20, 0, 1);
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.98, 0, -0.0002, 0, 0, 1, 0, 0, -20, 0, 1);

    &:after,
    &:before {
      bottom: rem-calc(-29);
      opacity: 1;
      transform: matrix3d(0.98, 0, 0, 0, 0, 0.48, 0, 0.001, 0, 0, 0.77, 0, 0, 0, 0, 1);
      -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.48, 0, 0.001, 0, 0, 0.77, 0, 0, 0, 0, 1);
    }

    &:before {
      background-color: rgba(20,20,50,.24);
    }
  }
}

@mixin post-it {
  @include elevation-1;
  position: relative;
  display: block;
  padding: rem-calc(32);
  background-image: linear-gradient(0deg, $amber-500 1.25%, $amber-300 1.25%, $amber-300 50%, $amber-500 50%, $amber-500 51.25%, $amber-300 51.25%, $amber-300 100%);
  background-size: rem-calc(80 80);

  .title {
    @include font-pen;
    font-weight: 900;
    color: $color-text-primary;
  }

  .description {
    margin-top: rem-calc(16);
    color: $deep-orange-700;
  }
}

@mixin post-it-white {
  background-image: linear-gradient(0deg, $color-border 1.25%, white 1.25%, white 50%, $color-border 50%, $color-border 51.25%, white 51.25%, white 100%);
  background-size: rem-calc(80 80);
}
@mixin post-it-yellow {
  background-image: linear-gradient(0deg, $amber-500 1.25%, $amber-300 1.25%, $amber-300 50%, $amber-500 50%, $amber-500 51.25%, $amber-300 51.25%, $amber-300 100%);
  background-size: rem-calc(80 80);
}
@mixin post-it-blue {
  background-image: linear-gradient(0deg, $light-blue-500 1.25%, $light-blue-300 1.25%, $light-blue-300 50%, $light-blue-500 50%, $light-blue-500 51.25%, $light-blue-300 51.25%, $light-blue-300 100%);
  background-size: rem-calc(80 80);
}
@mixin post-it-pink {
  background-image: linear-gradient(0deg, $pink-500 1.25%, $pink-300 1.25%, $pink-300 50%, $pink-500 50%, $pink-500 51.25%, $pink-300 51.25%, $pink-300 100%);
  background-size: rem-calc(80 80);
}
@mixin post-it-teal {
  background-image: linear-gradient(0deg, $teal-400 1.25%, $teal-200 1.25%, $teal-200 50%, $teal-400 50%, $teal-400 51.25%, $teal-200 51.25%, $teal-200 100%);
  background-size: rem-calc(80 80);
}
@mixin post-it-orange {
  background-image: linear-gradient(0deg, $orange-700 1.25%, $orange-500 1.25%, $orange-500 50%, $orange-700 50%, $orange-700 51.25%, $orange-500 51.25%, $orange-500 100%);
  background-size: rem-calc(80 80);
}