@mixin font-sans-serif {
  font-family: "roboto", "맑은 고딕", 'Spoqa Han Sans', malgun gothic, "돋움", Dotum, sans-serif;
}

@mixin font-serif {
  font-family: 'Nanum Myeongjo', serif;
}

@mixin font-mono {
  font-family: Hack, Menlo, Monaco, Consolas, "Courier New", monospace, "맑은 고딕", malgun gothic, "돋움", Dotum, Sans-Serif;
}

@mixin h1 {
  font-size: 40px;
  line-height: 50px;
}

@mixin h2 {
  font-size: 32px;
  line-height: 46px;
}

@mixin h3 {
  font-size: 26px;
  line-height: 32px;
}

@mixin h4 {
  font-size: 20px;
  line-height: 28px;
}

@mixin h5 {
  font-size: 16px;
  line-height: 24px;
}

@mixin h6 {
  font-size: 14px;
  line-height: 20px;
}

@mixin h7 {
  font-size: 12px;
  line-height: 18px;
}