/*
 *= require rails_bootstrap_forms
 *= require jquery-ui
 *= require bootstrap-theme
 *= require_self
 *= require material_icons
 *= require_directory .
 */

@import "bourbon";
@import "bootstrap";
@import "bootstrap-social";
@import "common";

@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');
@import url(//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css);
@import "nanumbarunpenr.css";
@import "nanumbarunpenb.css";

body /*bootstrap theme*/ {
  @include font-sans-serif;
  width: 100%;
  word-break: keep-all;
  font-size: 16px;
  color: $color-text--primary;
  background-color: $color-background;

  a {
    @include transition();
    &:hover {text-decoration: none;}
  }

  h1, h2, h3, h4, h5, h6 {margin: 0;}

  h1 {@include h1;}
  h2 {@include h2;}
  h3 {@include h3;}
  h4 {@include h4;}
  h5 {@include h5;}
  h6 {@include h6;}
  p {@include p;}

  .container-sm {max-width: rem-calc(800);}

  .container-lg {max-width: rem-calc(1400);}

  .btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 12px;
  }

  .btn-sm {
    font-size: 14px;
    line-height: 20px;
    padding: 3px 8px;
  }

  .btn-lg {
    font-size: 24px;
    line-height: 24px;
    padding: 10px 16px 12px 16px;
  }

  .btn-default {
    color: $color-text-primary;
    background-color: $blue-grey-50;
    &:hover,
    &:focus {
      background-color: $blue-grey-75;
    }
  }

  .btn-primary {
    color: white;
    background-color: $color-primary;
    border: transparent;

    &:hover,
    &:focus {
      background-color: $deep-purple-a700;
    }
  }

  .btn-svg {
    font-size: 0;
    padding: 7px 12px 7px 8px;

    i, span {
      display: inline-block;
      vertical-align: top;
    }

    i {
      font-size: 24px;
      margin-right: rem-calc(4);
    }

    span {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .form-control {
    line-height: 20px;
    padding: 8px 12px;
    border: rem-calc(2) solid $color-border;
    background-color: white;
    font-weight: 500;

    &:focus {
      border-color: $color-primary;
      box-shadow: none;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $blue-grey-200;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $blue-grey-200;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $blue-grey-200;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $blue-grey-200;
    }
  }

  .form-group {
    label {
      @include h7;
      font-weight: 500;
      margin-bottom: rem-calc(4);
      color: $color-text-secondary;
    }
  }

  .form-check-input {cursor: pointer;}

  .alert {
    margin: rem-calc(16 0 0 0);
    border-width: rem-calc(2);
    padding: rem-calc(16);

    button.close {
      padding: 0;
      font-size: 0;
      transform: translateY(-50%);
      top: 50%;
      right: rem-calc(12);


      span {
        vertical-align: top;
        font-size: rem-calc(24);
        line-height: rem-calc(24);
      }
    }

    &.alert-dismissible {padding-right: rem-calc(48);}
  }

  .card {
    border-color: $color-border;
  }

  .dropdown-menu {
    @include elevation-2;
    @include transition(0s);
    margin-top: rem-calc(8);
    border: rem-calc(2) solid $color-border;
    border: 0;
    background-color: $color-primary;

    .dropdown-item {
      @include h6;
      font-weight: 500;
      padding: rem-calc(4 12 6 12);
      color: white;

      &:hover, &:focus, &:active {
        color: white;
        background-color: $color-primary--hover;
      }
    }
  }

  .modal-backdrop {
    background-color: $blue-grey-940;
  }

  .modal-content {
    //border: 0;
    .modal-header {
      padding: rem-calc(24 24 0 24);
      border-bottom: 0;

      h3 {font-weight: 900;}
      .close {
        padding: rem-calc(8);
        color: $color-text-primary;
        opacity: .3;
        outline: none;
        &:hover {opacity: 1;}
      }
    }
    .modal-body {
      padding: rem-calc(24);
    }
    .modal-footer {
      padding: rem-calc(0 24 24 24);
      border-top: 0;
    }
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.main {min-height: calc(100vh - (#{$height-navbar} + #{$height-footer} + #{$margin-footer}));}

.navbar-global {
  height: $height-navbar;

  .navbar-brand {
    font-size: 0;
    padding: 0;
    vertical-align: top;

    @media (max-width: 991px) {
      .bi-nav-head,
      .bi-nav-tail {display: none;}
    }

    .bi-nav-body {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    h4 {
      font-weight: 500;
      i {
        margin-top: rem-calc(-3);
        vertical-align: middle;
      }
    }

    &:hover {
      .bi-nav-body {
        transition: 1s ease;
        -webkit-transform: rotate(-720deg);
        -moz-transform: rotate(-720deg);
        -ms-transform: rotate(-720deg);
        -o-transform: rotate(-720deg);
        transform: rotate(-720deg);
      }
      h4 {color: $color-primary;}
    }
  }

  .header-title {
    @include transform(translateX(-50%));
    font-weight: 900;
    position: absolute;
    top: rem-calc(11);
    left: 50%;

  }

  .form-search {
    margin: rem-calc(0 16);
    padding-left: rem-calc(40);
    background: asset_url('img-search-deemed.png') no-repeat rem-calc(12) center;
    background-size: rem-calc(24);

    &:focus {
      background: asset_url('img-search-primary.png') no-repeat rem-calc(12) center;
      background-size: rem-calc(24);
    }
  }

  .navbar-nav {
    margin-left: auto;

    li:nth-child(n+2) {margin-left: 8px;}
  }

  .breadcrumb {
    display: inline-block;
    vertical-align: super;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;

    .breadcrumb-item {
      display: inline-block;
      vertical-align: top;
      font-weight: 700;
      font-size: 19px;
      line-height: 28px;

      .navbar-brand {
        margin-right: rem-calc(4);
      }

      & + .breadcrumb-item:before {
        color: $blue-grey-200;
      }

      a {
        color: $color-primary;
        &:hover {color: $color-primary--hover;}
      }
    }

    .active {
      color: $color-text-primary;
    }
  }

  .navbar-toggler {
    @include transition();
    border: 0;
    padding: rem-calc(13 8);

    &:hover {
      background-color: $color-background--hover;

      .navbar-toggler-bar {background-color: $color-primary;}
    }

    &:focus {outline: none;}

    .navbar-toggler-bar {
      @include transition();
      display: block;
      width: rem-calc(28);
      height: rem-calc(2);
      border-radius: rem-calc(3);
      background-color: $blue-grey-500;

      & + .navbar-toggler-bar {margin-top: rem-calc(4);}
    }
  }

  .navbar-collapse.show {
    @include elevation-3;
    padding: rem-calc(16);
    background-color: $color-background;
    border-radius: rem-calc(3);
  }

  @media (max-width: 991px) {
    .form-search {margin: rem-calc(16 0 0 0);}

    .navbar-nav {
      text-align: center;

      .nav-item {
        margin: rem-calc(16 0 0 0);

        &:nth-child(n+2) {margin-left: 0;}

        .btn {
          margin: 0;
          min-width: rem-calc(120);
        }
      }

    }
  }
}

.header {
  text-align: center;
  padding: rem-calc(40 0);

  @media (max-width: 991px) {
    padding: rem-calc(24 0);
  }

  .headline {
    @include h1;
    font-weight: 900;

    @media (max-width: 991px) {
      @include h3;
    }
  }

  .sub-headline {
    margin-top: rem-calc(16);
    color: $blue-grey-300;

    @media (max-width: 991px) {
      @include h5;
      margin-top: rem-calc(8);
    }
  }
}

.footer-wrap {
  height: $height-footer;
  margin-top: $margin-footer;
  border-top: rem-calc(2) solid $color-border;
  padding: rem-calc(80 0);

  .service-name {
    @include h6;
    font-weight: 900;
  }

  .footer-options {
    @include h7;
    list-style: none;
    margin: rem-calc(12 0 0 0);
    padding: 0;
    font-weight: 500;
  }

  & * {color: $color-text-secondary;}

  a {text-decoration: none;}
  a:hover {color: $color-primary;}
}

.btn-dropdown {
  position: absolute;
  top: rem-calc(24);
  right: rem-calc(24);
  z-index: 22;

  > a {
    display: inline-block;
    padding: rem-calc(8);
    border-radius: rem-calc(100);
    vertical-align: top;
    color: $color-text-secondary;

    &:hover {
      color: $color-primary;
      background-color: rgba(50,50,80,.08);
    }
  }
}

.will-be {display: none !important;}

