// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#board {
  text-align: center;
  max-width: auto;
  margin: 0 auto;
  padding: 20px 5px 20px 5px;
  background-color: cadetblue;
}

.post-container {
  position: relative;

  min-width: 270px;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  display: inline-block;
  padding: 5px;

  align-items: center;
  vertical-align: top;
}

.post {
  background: #eae672;
  color: #333;
  position: relative;
  margin: 0 auto;
  padding: 10px;

  font-size: 15 px;
  box-shadow: 0 5px 5px 1px rgba(0,0,0,0.3);

  min-width: 380px;
  min-height: 240px;
  max-width: 380px;
  max-height: 240px;

  .contents{
    text-align: left;
    word-wrap: break-word;
    height: 170px;

    overflow: hidden;
    position:relative
  }

  .contents:after{
    content:"... (continued)";
    height: 2em;
    display: block;
    width: 100%;
    position:absolute;
    background-color: #eae672;
    opacity: 0.8;
    bottom: -0.3em;

    :hover{
      background-color: yellow;
    }
  }

  .buttons{
    text-align: left;
    bottom: 0px;
  }
}

.post:hover{
  background-color: yellow;
}

#drag_me{
  -webkit-user-drag: element;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
}

.right-button {
  float: right;
  margin-right: 2px;
  margin-bottom: 10px;
}

.icon-button .material-icons {
  font-size: 14px;
}