// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#board {
  text-align: center;
  max-width: auto;
  margin: 0 auto;
  padding: 20px 5px 20px 5px;
  background-color: cadetblue;
}

.post-container {
  position: relative;

  min-width: 270px;
  min-height: 170px;
  max-width: auto;
  max-height: auto;
  display: inline-block;
  padding: 5px;

  align-items: center;
  vertical-align: top;
}

#drag_me{
  -webkit-user-drag: element;
}

.note {
  background: #eae672;
  color: #333;
  position: relative;
  margin: 0 auto;
  padding: 10px;

  font-size: 15 px;
  box-shadow: 0 5px 5px 1px rgba(0,0,0,0.3);

  min-width: 250px;
  min-height: 150px;
  max-width: auto;
  max-height: auto;
}

.note div {
  text-align: left;

  word-wrap: break-word;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

/*
.note:hover {
  max-height: 1000px;
  max-width: 1000px;
}

.note div:hover {
  white-space: normal;
  height: auto;
  float: center;
  border: 2px solid gray;
  background: yellow;
}
*/

.note cite {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.note .button {
  display: block;
  margin: 1px 0 0 0;
  text-align: center;
}

.note .author {
  display: block;
  margin: 10px 0 0 0;
  text-align: right;
}