@import "common";

.projects-index {
  .footer-wrap .container {
    max-width: 100%;
  }
}

.container-projects {

}

.list-projects {
  list-style: none;
  margin: 0;
  padding: rem-calc(40 0 0 0);
  text-align: center;

  .list-item {
    $width-info: rem-calc(640);
    $padding-content: rem-calc(32);
    $height-content: rem-calc(280);
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: rem-calc(16);
    max-width: rem-calc(400);
    width: 30%;
    font-size: 0;

    .content {
      @include matrix-3d;
      position: relative;
      display: block;
      padding: $padding-content;
      height: $height-content;
      text-align: left;
      color: $color-text-primary;
      background-color: white;

      .project-title {@include transition();}

      .project-description {
        @include h5;
        position: relative;
        color: $color-text-secondary;
        margin-top: rem-calc(16);
        overflow: hidden;
        height: rem-calc(124);

        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: rem-calc(64);
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+80&0+0,1+80 */
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        }
      }

      .project-author {
        color: $blue-grey-300;
        font-weight: 700;
        position: absolute;
        bottom: $padding-content;
        left: $padding-content;
      }

      &:hover {
        .project-title {color: $color-primary;}
      }
    }

    &.create-project .content {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $blue-grey-100;
      background-color: $blue-grey-25;

      &:not(:hover) {box-shadow: none;}

      i {
        font-size: rem-calc(48);
        line-height: rem-calc(48);
      }

      &:hover {
        color: $color-primary;
        background-color: $blue-grey-50;
      }
    }
  }
}

