.registrations-new, .sessions-new, .passwords-new, .confirmations-new {
  background: url(asset-path('universe.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .card {
    margin: 80px auto;
    max-width: 330px;
    .card-block {
      padding: 20px;;
    }
  }
}
