@import "common";

.root-index {

  .title {
    font-weight: 700;
  }

  .description {
    font-size: rem(30) !important;
    padding-top: 2em;
  }



  h1{
    line-height: 1.5em;
  }
}

.full-cover {
  padding: 100px;
}

