.root-index {
  background: url(asset-path('universe.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .description {
    font-size: rem(30) !important;
    color: white;
    padding-top: 2em;
  }


  .title {
    font-size: rem(64) !important;
    color: white;
  }
  h1{
    line-height: 1.5em;
  }
}

.full-cover {
  padding: 100px
}

