@import "common";

.btn-space {margin-right: rem-calc(8);}

.list-spaces {
  list-style: none;
  margin: 0;
  padding: 0;

  .list-space-item {
    position: relative;

    > a * {@include transition();}

    .content {
      @include matrix-3d;
      display: block;
      padding: rem-calc(144 40);
      width: 100%;
      background-color: white;
      text-align: center;

      .title {
        @include elevation-1;
        position: absolute;
        top: 0;
        left: rem-calc(40);
        min-width: rem-calc(320);
        display: inline-block;
        margin-top: rem-calc(-1);
        padding: rem-calc(24 24 28 24);
        border-bottom-left-radius: rem-calc(3);
        border-bottom-right-radius: rem-calc(3);
        vertical-align: middle;
        text-transform: uppercase;
        line-height: rem-calc(24);
        font-weight: 900;
        text-align: left;
        color: $color-text-primary;
        background-color: white;

        .ownership {
          @include h7;
          transform: translateY(rem-calc(-2));
          padding: rem-calc(0 4 1 4);
          border-radius: rem-calc(3);
          border: rem-calc(2) solid $color-primary;
          color: $color-primary;
          vertical-align: bottom;
          font-weight: 900;
        }
      }

      &.create-space {
        h1 {
          font-size: rem-calc(100);
          line-height: 0;
          font-weight: 100;
          color: $blue-grey-100;
          transform: translateY(rem-calc(-8));
        }

        &:hover h1 {color: $color-primary;}
      }
    }

    .dropdown {
      @include transition();
      @include transform(translate(rem-calc(-16)));
      opacity: 0;
      position: absolute;
      top: rem-calc(16);
      right: rem-calc(16);

      > a {
        @include elevation-2;
        padding: rem-calc(8);
        border-radius: rem-calc(100);
        color: $blue-grey-200;
        background-color: white;

        &:hover {
          @include elevation-3;
          color: $color-primary;
        }
      }

      a, i {
        display: inline-block;
        vertical-align: top !important;
      }
    }

    &:hover {
      .dropdown {
        @include transform(translate(rem-calc(-16), 0));
        opacity: 100;
      }
    }

    &:nth-child(n+2) .content {margin-top: rem-calc(80);}

    &:nth-last-child(2n) .content {
      //건물
      background: asset_url('bg-space-1.png') no-repeat center;
      background-size: cover;

      &:after {
        background: asset_url('bg-space-1.png') no-repeat center bottom;
        background-size: cover;
      }
      .space-body .title {
        color: white;
      }
    }

    &:nth-last-child(3n) .content {
      //나뭇닢
      background: asset_url('bg-space-2.png') no-repeat center;
      background-size: cover;
      &:after {
        background: asset_url('bg-space-2.png') no-repeat center top;
        background-size: cover;
      }
      .space-body .title {
        color: $green-700;
      }
    }

    &:nth-last-child(4n) .content {
      //겨울광장
      background: asset_url('bg-space-3.png') repeat center bottom;
      background-size: cover;

      &:after {
        background: asset_url('bg-space-3.png') repeat center top;
        background-size: cover;
      }
      .space-body .title {
        color: white;
      }
    }

    &:nth-last-child(5n) .content {
      //걸파워
      background: asset_url('bg-space-4.png') no-repeat bottom;
      background-size: cover;

      &:after {
        background: asset_url('bg-space-4.png') no-repeat top;
        background-size: cover;
      }

      .space-body .title {
        color: white;
      }
    }

    &:nth-last-child(6n) .content {
      //가을언덕
      background: asset_url('bg-space-5.png') no-repeat bottom;
      background-size: cover;

      &:after {
        background: asset_url('bg-space-5.png') no-repeat bottom;
        background-size: cover;
      }
      .space-body .title {
        color: white;
      }
    }

    &:nth-last-child(7n) .content {
      //요가
      background: asset_url('bg-space-6.png') center;
      background-size: rem-calc(640) auto;

      &:after {
        background: asset_url('bg-space-6.png') center bottom;
        background-size: rem-calc(640) auto;
      }
      .space-body .title {
        color: $light-blue-500;
      }
    }

    &:nth-last-child(8n) .content {
      //스키
      background: asset_url('bg-space-7.png') center;
      background-size: rem-calc(640) auto;

      &:after {
        background: asset_url('bg-space-7.png') center bottom;
        background-size: rem-calc(640) auto;
      }
      .space-body .title {
        color: $purple-500;
      }
    }
  }
}