@import "common";

.spins-index {
  .container-spins {
    padding-top: rem-calc(8);

    @media (min-width: 992px) {
      padding-top: rem-calc(40);
    }
  }

  .list-spins {
    $spin-size: rem-calc(320);
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;

    .list-spin-item {
      position: relative;
      padding: rem-calc(40);
      display: inline-block;
      vertical-align: top;

      @media (max-width: 991px) {
        display: block;
        margin: 0 auto;
        padding: rem-calc(16 0);
        max-width: rem-calc(320);
      }

      .spin {
        @include post-it;
        width: $spin-size;
        height: $spin-size;

        @media (max-width: 991px) {
          padding: rem-calc(16);
          width: 100%;
          height: rem-calc(160);

          .title {
            @include h3;
          }
        }
      }

      .btn-dropdown {
        top: rem-calc(48);
        right: rem-calc(48);

        @media (max-width: 991px) {
          top: rem-calc(24);
          right: rem-calc(8);
        }

        > a {color: $color-text-primary;}
      }

      .span-backdrop-1,
      .span-backdrop-2,
      .span-backdrop-3,
      .span-backdrop-4 {
        @include transition();
        @include elevation-0;
        position: absolute;
        width: $spin-size;
        height: $spin-size;
        z-index: -1;
        top: 0;
        left: 0;
        transform: rotate(0deg) translate(40px, 40px);

        @media (max-width: 991px) {display: none;}
      }

      .span-backdrop-1 {
        @include post-it-blue;
        z-index: -4;
      }
      .span-backdrop-2 {
        @include post-it-pink;
        z-index: -3;
      }
      .span-backdrop-3 {
        @include post-it-teal;
        z-index: -2;
      }
      .span-backdrop-4 {
        @include post-it-orange;
        z-index: -4;
      }

      &:hover {
        z-index: 11;
        .span-backdrop-1 {
          @include elevation-4;
          z-index: -4;
          transform: rotate(-10deg) translate(47px, 45px);
          transition-delay: .6s;
        }
        .span-backdrop-2 {
          @include elevation-1;
          z-index: -3;
          transform: rotate(-4deg) translate(42px, 42px);
          transition-delay: .4s;
        }
        .span-backdrop-3 {
          @include elevation-1;
          z-index: -2;
          transform: rotate(4deg) translate(40px, 40px);
          transition-delay: .1s;
        }
        .span-backdrop-4 {
          @include elevation-1;
          z-index: -4;
          transform: rotate(-8deg) translate(36px, 44px);
          transition-delay: .2s;
        }
      }

      &.create-spin {
        @media (max-width: 991px) {
          padding: 0;
        }

        .spin {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $blue-grey-100;
          background: $blue-grey-25;

          @media (max-width: 991px) {
            height: rem-calc(64);
            color: $color-primary;
            background-color: $blue-grey-50;
            box-shadow: none;
          }

          i {
            @media (min-width: 992px) {
              font-size: rem-calc(48);
              line-height: rem-calc(48);
            }
          }

          &:not(:hover) {box-shadow: none;}

          &:hover {
            color: $color-primary;
            background-color: $blue-grey-50;
          }
        }
      }
    }
  }
}

.spins-show {
  .header-title,
  .footer-wrap,
  .btn-spin {display: none;}

  .navbar-global {
    @include elevation-1;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 31;
  }

  .spin-board-wrap {
    $height-section-body: calc(100vh - #{$height-navbar} - 132px);
    $padding-length: 24;
    margin: rem-calc(64 0 0 0);
    padding: 0;

    .spin-board {
      white-space: nowrap;
      padding: rem-calc(0 16);

      .section-group {
        font-size: 0;
        display: inline-block;
        vertical-align: top;
      }

      .section {
        @include transition();
        @include h5;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-right: rem-calc(40);
        padding-bottom: rem-calc(40);
        border-radius: rem-calc(4);
        min-width: rem-calc(320);
        width: 30%;
        max-width: rem-calc(640);

        .section-title {
          @include transition();
          padding: rem-calc(8 $padding-length);
          font-weight: 900;
          border-top-left-radius: rem-calc(3);
          border-top-right-radius: rem-calc(3);
          cursor: grab;

          &:active {cursor: grabbing;}

          &:hover {
            &,
            & ~ .section-body {
              background-color: $blue-grey-50;
              box-shadow: none;
            }
          }
        }

        .dropdown {
          top: rem-calc(2);
          right: 0;
        }

        .section-body {
          @include transition();
          @include elevation-1;
          padding: rem-calc($padding-length);
          min-height: rem-calc(144);
          border-bottom-right-radius: rem-calc(3);
          border-bottom-left-radius: rem-calc(3);
          background-color: white;
          white-space: normal;
          column-gap: rem-calc($padding-length);

          @media (min-width: 1800px) {column-count: 2;}

          .post,
          .form-post {
            @include post-it;
            display: inline-block;
            width: 100%;
            border-radius: rem-calc(3);
            white-space: normal;
            background-size: rem-calc(80 60);
          }

          .post {
            @include font-pen;
            margin-bottom: rem-calc($padding-length);
            padding: rem-calc(12 16);
            cursor: grab;

            &:active {cursor: grabbing;}

            @media (min-width: 1800px) {flex-direction: column;}

            .post-content {
              cursor: zoom-in;
              font-size: rem-calc(18);
              line-height: rem-calc(30);
              font-weight: 700;
              margin-bottom: rem-calc(8);
              display: inline-block;

              &:active {cursor: grabbing;}
            }

            .post-footer {
              font-size: 0;

              .user-info,
              .btn-wrap {
                @include h5;
                display: inline-block;
                vertical-align: top;
              }

              .user-info {
                .user-image,
                .user-name {
                  display: inline-block;
                  vertical-align: top;

                  img {
                    @include elevation-1;
                    width: rem-calc(32);
                    border-radius: rem-calc(1000);
                  }
                }

                .user-name {
                  margin: rem-calc(4 0 0 6);
                  font-weight: 700;
                }
              }

              .btn-wrap {
                float: right;
                font-size: 0;

                .btn {
                  background-color: transparent;
                  padding-left: rem-calc(6);
                  padding-right: rem-calc(6);

                  i {color: rgba(50,50,80,.4);}

                  &:hover i {color: $color-text--primary;}
                }
              }
            }
          }

          .form-post {
            padding: 0;

            textarea {
              @include font-pen;
              width: 100%;
              font-weight: 700;
              padding: rem-calc(12 16);
              font-size: rem-calc(20);
              line-height: rem-calc(34);
              background-color: transparent;
              color: $color-text-primary;
              border: 0;

              &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: rgba(50,50,80,.4);
                opacity: 1; /* Firefox */
              }
              &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: rgba(50,50,80,.4);
              }
              &::-ms-input-placeholder { /* Microsoft Edge */
                color: rgba(50,50,80,.4);
              }

              & + .btn-wrap {
                text-align: right;
                padding: rem-calc(8);
              }
            }
          }
        }

        .btn-add {
          position: sticky;
          z-index: 21;
          bottom: rem-calc(16);
          margin: rem-calc(16 0 0 $padding-length);
          & + .section-footer {display: none;}
        }

        &:nth-child(2) {
          .post,
          .form-post {
            @include post-it-pink;
          }
        }

        &:nth-child(3) {
          .post,
          .form-post {
            @include post-it-blue;
          }
        }

        &:nth-child(4) {
          .post,
          .form-post {
            @include post-it-teal;
          }
        }

        &:nth-child(5) {
          .post,
          .form-post {
            @include post-it-orange;
          }
        }
      }

      .create-section {
        background-color: transparent;

        .btn-create {
          display: inline-block;
          vertical-align: top;
          margin: rem-calc(44 0 0 24);
          padding: rem-calc(24);
          border-radius: rem-calc(3);
          color: $color-text-secondary;
          background-color: $color-background--hover;

          &:hover {
            color: $color-primary;
            background-color: $blue-grey-75;
          }
        }

        .section-header {
          padding: rem-calc(2 24);

          .form-group {
            display: flex;
            margin: 0;

            .form-control {margin-right: rem-calc(8);}
          }
        }
      }
    }
  }
}

.sortable-ghost {opacity: .24;}
