// Place all the styles related to the Spins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spin {
    min-width: 480px;
    height: 200px;

    display: inline-block;
}