<footer class="footer-wrap">
  <div class="container">
    <%= link_to 'RETROSPIN', root_url, class:'service-name' %>
    <ul class="footer-options">
      <li>MADE by <a href="https://github.com/JooyeonSong" target="_blank">JooyeonSong</a> / <a href="https://github.com/WiseBell" target="_blank">WiseBell</a> / <a href="https://github.com/los0731" target="_blank">los0731</a></li>
      <li><a href="https://github.com/devglade/minerva-webapp" target="_blank">Bug Report & Contribution</a></li>
    </ul>
  </div>
</footer>